.combo-box > .list-view {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: #E5F0F7;
    -fx-padding: 3 0 2 7;
}

.combo-box > .arrow-button : hover{
    -fx-background-color: #0074F2;
}

.combo-box > .arrow-button > .arrow{
    -fx-background-color: #E5F0F7;
}

.combo-box-base{
    -fx-background-color: #262626;
    -fx-opacity: 0.9;
}

.combo-box-base:focused {
    -fx-border-color: #0074F2;
    -fx-border-width: 1 1 1 1;
}

.combo-box-popup > .list-view > .list-cell 
{
    -fx-background-color: #2E2E2E;
}

.combo-box > .list-cell > .text,
.combo-box > .list-cell:selected > .text,
.combo-box > .list-cell:selected:empty > .text{
    -fx-fill: #E5F0F7;
}